* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  background: #373b41;
  color: white;
}

.header {
  margin: 0 1em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.title {
  font-size: 3em;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.main {
  margin-top: 4em;
}

.fingerInputs, .presetInputs {
  font-size: 1.25em;
  display: flex;
  box-shadow: 0 0.2em .2em rgba(0, 0, 0, .2);
  justify-content: space-between;
  background: #24272B;
  border-radius: .5em;
  padding: 2em;
  max-width: 40em;
  margin: 0 auto;
}

.presetInputs {
  background: #24272B;
}

.fingerInput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10ch;
  border-radius: inherit;
  padding: .5em;
}

.fingerName {
  text-align: center;
}

.fingerSelect {
  margin: .5em .85em 0 .85em;
  border-radius: 0.2em;
  font-size: 0.7em;
}

.presetButton {
  user-select: none;
  cursor: pointer;
  font-size: 3em;
}

.presetButton:active {
  filter: brightness(0.5);
}

.msg {
  margin-top: 2em;
  font-family: monospace;
  text-align: center;
}

.err {
  color: red;
}